@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);

body {
    font-family: "Roboto";
    margin: 0;
    padding: 0;
}

.block-one{
    background-color: #1f2937;
    color: #f9faf8;
    flex: auto;
    padding: 0 15% 6%;
    display: flex;
    justify-content: space-between;
    gap: 10%;
    flex-wrap: wrap;
}

ul {
    list-style-type: none;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0 0 60px;
    align-items: center;
    flex: none;
    width: 100%;
}

header ul{
    display: flex;
    gap: 24px;
}

.hero {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

.light-text {
    font-size: 18px;
    color: #e5e7eb;
}

h1 {
    font-size: 24px;
}

.left-one {
    display: flex;
    flex-direction: column;
    max-width: 45%;
    justify-content: center;
}

.right-one {
    display: flex;
    max-width: 45%;
}

.right-one img {
    width: 100%;
    max-width: 900px;
    height: auto;
    margin: auto;
}

button {
    max-width: 120px;
    padding: 8px 12px;
    margin: 12px 0;
    border-radius: 8px;
    border: none;
    background-color: #3883f6;
    color: white;
    font-size: 16px;
    font-weight: 600;
}