@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);

body {
    font-family: "Roboto";
    display: flex;
    justify-content: center;
}

ul {
    list-style-type: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    width: 100%;
}

header ul{
    display: flex;
    gap: 12px;
}

.split-one {
    display: flex;
    flex-direction: column;
    height: 100px;
    flex-wrap: wrap;
}