@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);

body {
    font-family: "Roboto";
    margin: 0;
    padding: 0;
    display: flex;
}

.block-one{
    background-color: #1f2937;
    color: #f9faf8;
    flex-grow: 1;
    padding: 0 15%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 15%;
}

ul {
    list-style-type: none;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 6px 0;
    align-items: center;
}

header ul{
    display: flex;
    gap: 24px;
}

.left-one {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 50%;
    max-height: 40%;
    justify-content: center;
    align-content: space-between;
}

button {
    max-width: 120px;
    padding: 6px 12px;
    margin: 6px 0;
}